<% @drinks['result'].each do |product| %>
  <section>
    <%= link_to product['name'], drinks_path(product['id']) %>
    <%= product['primary_category'] %> <%= product['secondary_category'] %>
  </section>
<% end %>