<div id="pilsner">
<div class="wrapper">
<% @pilsner['result'].each do |product| %>
		  <section class = 'beers'>
		    <%= link_to product['name'], drink_path(product['id']) %>
		  </section>
		<% end %>
		</div>
</div>