<div id = "porter">
<div class="wrapper">
<% @porter['result'].each do |product| %>
		  <section class="beers">
		    <%= link_to product['name'], drink_path(product['id']) %>
		  </section>
		<% end %>
		</div>
</div>